.component-text-box {
    position: absolute;
    top: calc(50vh - min(calc(20vw / 0.5 * 0.5), calc(90vh * 0.5)));
    width: min(20vw, calc(90vh * 0.5));
    aspect-ratio: 0.5;
    /* Text boxes set to have only one dimension *
     * Only adjustment is horizontal position    */
    z-index: 1000;

    pointer-events: none;

    transition: clip-path 200ms ease;
}

.component-text-box.is-closed {
    display: none;
}

.component-text-box.is-folded {
    clip-path: inset(0 0 calc(100% - calc(20vw / 750 * 56)) 0);
    pointer-events: auto;
}

.component-text-box.is-folded:not(.is-pinned):not(:hover) {
    opacity: 0;
}

.component-text-box.is-folded {
    transition: opacity 200ms ease;
}

/* ---------- *
 * Components *
 * ---------- */
.component-text-box img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

.component-text-box label {
    top: calc(100% * 12 / 1500);
    left: calc(100% * 50 / 750);
    width: calc(100% * 540/ 750);
    height: calc(100% * 40 / 1500);
    padding-left: calc(100% * 8/ 750);
}

.component-text-box-content {
    display: flex;
    flex-direction: column;
    row-gap: min(0.7vw, calc( 0.7 * (90vh * 37 / 1500) ));

    position: absolute;
    top: calc(100% * 70 / 1500);
    left: calc(100% * 20 / 750);
    width: calc(100% * 700 / 750);
    height: calc(100% * 1310 / 1500);
    margin-top: 0.25vw;
    z-index: 1001;

    color: black;
    font-size: min(0.75vw, calc( 0.75 * (90vh * 37 / 1500) ));
    line-height: min(1vw, calc( (90vh * 37 / 1500) ));
    text-align: left;
}

.component-text-box-content p {
    margin: 0;
    text-wrap: pretty;
}

.component-text-box-content section {
    display: flex;
    flex-direction: column;
    row-gap: min(0.5vw, calc( 0.5 * (90vh * 37 / 1500) ));

    padding: min(0.7vw, calc( 0.7 * (90vh * 37 / 1500) ))
             min(0.5vw, calc( 0.5 * (90vh * 37 / 1500) ))
             min(0.5vw, calc( 0.5 * (90vh * 37 / 1500) ));

    border-top: 0.05vw solid #626562;
    border-left: 0.05vw solid #626562;
    border-right: 0.05vw solid #a8a8a8;
    border-bottom: 0.05vw solid #a8a8a8;
}

.component-text-box-content section:not(:first-child) {
    margin-top: min(0.45vw, calc( 0.45 * (90vh * 37 / 1500) ));
}

.component-text-box-content section>h2,
.component-text-box-content section>h3 {
    align-self: flex-start;
    margin: max(-1.15vw, calc( -1.15 * (90vh * 37 / 1500) )) 0 0 0.3vw;
    padding: 0 0.3vw;
    background: #838583;

    color: white;
    text-shadow: 0.05vw 0.05vw 0 black;
    font-size: inherit;
    font-weight: normal;
    line-height: min(0.9vw, calc( 0.9 * (90vh * 37 / 1500) ));
}

/* -------- *
 * Elements *
 * -------- */
.component-text-box .element-close-button,
.component-text-box .element-fold-button,
.component-text-box .element-reset-button,
.component-text-box .element-pin-button {
    top: calc(100% * 4 / 1500);
    height: calc(100% * 45 / 1500);
}

.component-text-box .element-close-button {
    left: calc(100% * 4 / 750);
    width: calc(100% * 35 / 750);
}

.component-text-box .element-fold-button,
.component-text-box .element-reset-button,
.component-text-box .element-pin-button {
    width: calc(100% * 40 / 750);
}

.component-text-box .element-fold-button {
    right: calc(100% * 100 / 750);
}

.component-text-box .element-reset-button {
    right: calc(100% * 52 / 750);
}

.component-text-box .element-pin-button {
    right: calc(100% * 4 / 750);
}

.component-text-box a,
.component-text-box .element-link-button {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    position: absolute;
    top: calc(100% * 1452 / 1500);
    height: calc(100% * 38 / 1500);
    padding-top: calc(100% * 5 / 1500);

    background: none;
    border: none;

    font-size: min(0.8vw, calc( 0.8 * (90vh * 37 / 1500) ));
    line-height: min(0.8vw, calc( 0.8 * (90vh * 37 / 1500) ));

    z-index: 1001;

    cursor: pointer;
    pointer-events: auto;
}

.component-text-box a:active {
    background: #a8a8a8;
    border-left: 0.05vw solid #626562;
    border-top: 0.05vw solid #626562;
    border-right: 0.05vw solid #a8a8a8;
    border-bottom: 0.05vw solid #a8a8a8;
}

.component-text-box .component-donate-dropdown {
    display: none;
    flex-direction: column;
    position: absolute;

    right: calc(100% * 53 / 750);
    bottom: calc(100% * 55 / 1500);
    width: calc(100% * 300 / 750);
    padding: calc(100% * 5 / 1500);

    background: #838583;
    border-left: 0.1vw solid #a8a8a8;
    border-top: 0.1vw solid #a8a8a8;
    border-right: 0.1vw solid #626562;
    border-bottom: 0.1vw solid #626562;

    z-index: 1002;
    pointer-events: auto;
}

.component-text-box .component-donate-dropdown.is-open {
    display: flex;
}

.component-text-box .component-donate-dropdown a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: static;
    width: 100%;
    height: calc(100% * 38 / 1500);
    padding: min(0.3vw, calc( 0.3 * (90vh * 37 / 1500) ));
    box-sizing: border-box;

    background: none;
    border: none;

    font-size: min(0.75vw, calc( 0.75 * (90vh * 37 / 1500) ));
    line-height: min(0.75vw, calc( 0.75 * (90vh * 37 / 1500) ));

    border-left: 0.05vw solid #626562;
    border-top: 0.1vw solid #626562;
    border-right: 0.05vw solid #a8a8a8;
    border-bottom: 0.1vw solid #a8a8a8;
}

.component-text-box .component-donate-dropdown a:active {
    background: #a8a8a8;
    border-left: 0.05vw solid #626562;
    border-top: 0.05vw solid #626562;
    border-right: 0.05vw solid #a8a8a8;
    border-bottom: 0.05vw solid #a8a8a8;
}

.component-text-box .component-donate-dropdown a:hover {
    border-left: 0.1vw solid #626562;
    border-top: 0.1vw solid #626562;
    border-right: 0.1vw solid #a8a8a8;
    border-bottom: 0.1vw solid #a8a8a8;
}

.component-text-box .element-link-button:active {
    background: #a8a8a8;
    border-left: 0.05vw solid #626562;
    border-top: 0.05vw solid #626562;
    border-right: 0.05vw solid #a8a8a8;
    border-bottom: 0.05vw solid #a8a8a8;
}

.component-text-box dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: min(0.6vw, calc( 0.6 * (90vh * 37 / 1500) ));
    row-gap: min(0.3vw, calc( 0.3 * (90vh * 37 / 1500) ));

    margin: 0;
}

.component-text-box dl>dt {
    color: white;
    text-shadow: 0.05vw 0.05vw 0 black;
}

.component-text-box dl>dd {
    margin: 0;
    text-wrap: pretty;
}

.component-text-box ul {
    margin: 0;
    padding-left: min(1vw, calc( (90vh * 37 / 1500) ));
}

.component-text-box ul>li {
    text-wrap: pretty;
}