/* ------ *
 * Layout *
 * ------ */
.component-viewport {
    position: fixed;
    top: calc(50vh - min(calc(25vw / (937 / 1217) * 0.5), calc((90vh * 1217 / 1500) * 0.5)));
    left: calc(50vw - calc( min(25vw, calc((90vh * 1217 / 1500) * (937 / 1217))) * 0.5 ));
    width: min(25vw, calc((90vh * 1217 / 1500) * (937 / 1217)));
    aspect-ratio: 937 / 1217;
    transform: translateY(calc(100% * 35 / 1217));
    z-index: 1000;

    pointer-events: none;
}

.component-viewport img {
    display: block;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

/* -------- *
 * Elements *
 * -------- */
.component-viewport label.warning {
    color: #a00000 !important;
}
.component-viewport .element-processing-indicator {
    left: calc(100% * 420 / 937) !important;
    width: calc(100% * 431 / 937) !important;
    text-align: left;
}

.component-viewport .element-button-toggleTowns span {
    position: absolute;
    right: 5%;
    bottom: 3%;

    color: white;
    text-shadow: 0.05vw 0.05vw 0 black;
}

.component-viewport .element-town-granularity-disabled {
    color: red !important;
    font-size: min(1.25vw, calc( 1.25 * (90vh * 37 / 1500) ));
}
